<div class="back">
<%= link_to image_tag("up.gif", :size => "16x16", :alt => "戻る") + "もどる", :action => 'list' %>
</div>

<div id="main">
<% form_tag( {:action => 'update', :id => @store, :from => params[:from]}, :method => :put, :multipart => true) do %>
	<h2><%=h @store.name%></h2>
  <%= render :partial => 'form' %>
  <div class="submit">
  <%= submit_tag @store.name + 'を更新' %>
  </div>
<% end %>
</div>
