<?xml version="1.0" encoding="UTF-8"?>
<markers>
<% for store in @stores%>
<marker lat="<%=store.lat%>" lng="<%=h(store.lng)%>" category="<%=h(store.category)%>" name="<%=h(store.name)%>" url=
"<%=store.url%>" mixi="<%=store.mixi%>" />
<% end %>
</markers>