.fieldWithErrors {
  padding: 1px;
  background-color: #0090ff;
  display: table;
}

#errorExplanation {
	font-size: 0.8em;
  width: 300px;
  border: 1px solid #0090ff;
  padding: 7px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #efefef;
}

#errorExplanation h2 {
		font-size: 1em;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #0090ff;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 10px 0;
}
#errorExplanation ul li {
	list-style-type: disc;
	display: list-item;
	margin-left: 30px;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

