* {
	margin:0;
	padding:0;
}

/* @group global */

*:link, *:visited {
	text-decoration:none;
}
ul, ol, li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
img {
	border:none;
}
body {
	font-family: Verdana,Arial,Helvetica,Sans-Seri;
	color:#333;
	background: #666 url(../images/header_bg.gif) repeat-x scroll left top;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 1.5em;
	color:#fff;
	margin: 0;;
	padding: 0;;
}

a:link {
	color:#590035;
} 
a:visited {
	color:#590035;
}
a:active {
	color:#590035;
}
a:hover {
	color:#f00;
	text-decoration:none;
} 
input, textarea, select{
	font-family:verdana,arial,helvetica,sans-serif;
}
input[type=submit]{
	margin-left: 20px;
}
input[type=submit].button {
	width: 100px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	padding:3px 0;
}
input[type=submit].smallbutton {
	width: 80px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
}
.clear{
	clear: both;
}
.hide{
	display:none;
	color: #00ad38;
}
.left{
	float: left;
}
.right{
	float: right;
}
.back{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}


/* @end */
#container{
	width: 960px;
	margin:auto;
}

/* @group header */

#header {
	font-size: 0.9em;
	height: 100px;
	color:#fff;
	font-weight:normal;
	padding:0; 
	background-color: #E61D57;
	position: relative;
}
#header p {
	font-size:0.8em;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
#header #logo {
	bottom:5px;
	float:none !important;
	position:absolute !important;
	left:10px;
	top: 10px;
	margin-top:0pt !important;
	text-align:center;
	z-index:10;
}

#header #logo h1 {
	width:140px;
}

#header #logo span {
	background:url(../images/tasty.map.gif) no-repeat scroll left top;
	height:90px;
	left:0pt;
	position:absolute;
	top:0pt;
	width:100%;
}
#header #usermenu {
	float:right;
	text-align:right;
	margin-top: 5px;
}
#header #usermenu li{
	display:inline;
	margin:0pt 4px;
}

#header #usermenu img{
	border:0;
	padding-right: 5px;
}
#header a:link ,
#header a:active,
#header a:visited{
	color:#fff;
	letter-spacing:normal; 
	text-decoration:none;
	padding-right: 5px;
}
#header a:hover{
	text-decoration:underline;
}
#header #tabs {
	bottom:0 !important;
	float:right;
	/*padding:0pt 10px;*/
	position:absolute;
	right:0;
	text-align:right;
}
#header #tabs ul li{
	float: right;
}
#header #tabs ul li a,
#header #tabs ul li a:visited {
	background-color: #EA2A69;
	border:0pt none;
	color:#FFFFFF;
	display:block;
	/*margin-left:1px;*/
	padding:5px 10px;
}
#header #tabs ul li a.noback,
#header #tabs ul li a.noback:visited {
	background:#fff url(../i/red_top.gif) repeat-x scroll left bottom;
}
#header #tabs ul li a:hover,
#header #tabs ul li a.noback:hover {
	color: #EA2A69;
	text-decoration:none;
	background:#FFFFFF none repeat scroll 0;
	border:0 none;
}
#header #tabs ul li a.current,
#header #tabs ul li a.current:visited,
#header #tabs ul li a.current:hover {
	background:#FFFFFF none repeat scroll 0;
	color:#EA2A69;
	font-weight:bold;
}
/* @end */

/* @group footer */

#footer {
	font-size: 0.8em;
	color: #999;
	vertical-align:center;
	margin:0;
	padding: 10px 10px;
	height: 100px;
	background: #ccc;
}

#footer a:link,
#footer a:active,
#footer a:visited{
	color: #999;
	text-decoration: underline;
}
#footer a:hover{
	color: #fff;
	text-decoration: underline;
}
#footer ul li{
	display: inline;
	padding-right: 5px;
	border-right: 1px solid #999;
}



/* @end */

/* @group content */
#content{
	color: #333;
	padding: 10px 10px 50px;
	background: #fff;
}

#content h2 {
	color:#EA2A69;
	font-size: 1.5em;
	margin: 5px 0 10px;
	padding-bottom: 5px;
}
#content .breadcrumb{
	font-size:10px;
	color:#036;
	margin-bottom:5px;
	vertical-align: top;
}

#content .breadcrumb a:link ,
#content .breadcrumb a:visited ,
#content .breadcrumb a:active {
	font-weight:normal;
	font-size:10px;
	color:#036;
	letter-spacing:normal;
	text-decoration:none; 
} 
#content .breadcrumb a:hover {
	color: #f00;
	text-decoration:underline; 
}
#content #index tr.future{
	background: #fff3a4;
}

#content #index td span.closed{
	padding: 5px;
	font-weight: bold;
	color: #fff;
	background: #f00;
}

#content dl{
	margin: 30px 0;
	width: 480px;
}
#content dl dt{
	font-size: 1.2em;
	margin: 5px 20px;
}
#content dl dd{
	border: 1px solid #999;
	padding: 10px;
	margin: 5px 20px 20px;
}

#content form .field{
	color: #333;
	margin: 10px 0;
}
#content form .submit{
	text-align: right;
	margin: 5px 0;
}
#content form .required{
	font-size: 1.2em;
	color: #000;
}

#recomend,
#tagged,
#favorit{
	width: 400px;
	font-size: 0.9em;
	margin-bottom: 10px;
}
#recomend h3,
#tagged h3,
#favorit h3{
	background: #ccc;
	font-size: 1em;
	margin: 10px 0;
	padding: 5px;
}
#recomend h4{
	border-left: 5px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}



/* @end */

/* @group main */

#main{
	width: 100%;
	margin: 0 auto;
}

/*#main ul li {
	display: inline;
	margin-left: 5px;
}*/
#main table{
	width: 100%;
	border-collapse: collapse;
	border: 0;
}

#main table th{
	color:#333;
	font-size: 1.2em;
	font-weight: normal;
	background-color:#fff;
	text-align: left;
	padding: 5px;
}

#main table td{
	width: 240px;
	font-size: 0.9em;
	padding: 10px 5px;
	font-weight:normal;
	border:0;
}

#main form{
	width: 640px;
	float: right;
}

#main form h2{
	font-size: 2em;
	color: #E61D57;
	margin-bottom: 30px;
}

#main form input[type=text],
#main form textarea{
	color: #333;
	font-size: 1.5em;
	margin: 5px 0;
	width: 400px;
	margin-left: 100px;
	background: #ffece3;
}
#main form input[type=password]{
	color: #333;
	font-size: 1.5em;
	margin: 5px 0;
	width: 300px;
	margin-left: 200px;
	background: #ffece3;
}
#main form input[type=file] {
	color: #333;
	font-size: 1.2em;
	background: #ffece3;
	margin-left: 100px;
}
#main form input.lat{
	width: 200px;
}
#main form input.lng{
	width: 200px;
	margin-left: 0;
}

#main form input[type=submit]{
	margin-right: 140px;
	margin-top: 30px;
	padding: 10px 20px;
}
#main form#delete{
	width: 500px;
	margin-right: 130px;
	margin-top: 40px;
	padding: 10px;
	background: #ffe0da;
	border: 1px solid #E61D57;
}
#main form#delete input[type=submit]{
	margin-right: 0;
	margin-top: 0;
	padding: 10px 20px;
}
/* @end */

/* @group stores */

#stores{
	width: 100%;
	margin: 20px auto;
}
#stores .actions{
	text-align: right;
}
#stores table{
	width: 750px;
	margin: 20px auto;
	border-collapse: collapse;
}
#stores table td{
	width: 250px;
	font-size: 0.9em;
	padding: 0 5px;
	padding-bottom: 40px;
	font-weight:normal;
	margin: 0 5px;
	border:0;
}
#stores table td img{
	color: #E61D57;	
}
#stores table td a:link,
#stores table td a:active{
	color: #E61D57;
}
#stores table td a:hover{
	color: #E61D57;
}
#stores table td a:visited{
	color: #999;
}

#stores table td h2{
	font-size: 1.2em;
	margin: 10px 0;
	padding: 0;
}
#stores table td div.info{
	margin: 5px;
}
#stores table td div.actions{
	margin-top: 20px;
}
#stores form{
	margin: 10px 100px;
	text-align: right;
}
#stores form input[type=text]{
	background: url(../images/search.gif) no-repeat -150px;
	padding: 3px;
	width: 150px;
}
#stores form input[type=submit]{
}
/* @end */

/* @group map */
#map{
	width: 480px; 
	height: 480px;
	float: left;
}
/* @end */

#signup,
#signin {
	width:  300px;
	float: left;
	margin: 30px 40px 0;
	padding-right: 50px;
	border-right: 1px solid #eee;
}
#signup h3,
#signin h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
}

/* @group photos */
#photos img{
	vertical-align: baseline;
}
#photos{
	width: 100%;
	margin: 20px auto;
}
#photos .actions{
	text-align: right;
	padding: 5px;
}
#photos table{
	width: 750px;
	margin: 20px auto;
	border-collapse: collapse;
}
#photos table td{
	width: 250px;
	font-size: 0.9em;
	padding: 0 5px;
	padding-bottom: 40px;
	font-weight:normal;
	margin: 0 5px;
	border:0;
}
#photos h2{
	font-size: 0.9em;
	padding: 5px;
	margin: 0;
}
#photos table td div.actions{

}
#photos table td p.description{
	margin: 5px;
	font-size: 0.7em;
}
/* @end */

/* @group tasty */
#tasty #map{
	width: 720px;
}


/* @end */

/* @group misc */

.pagenation{
	margin: 20px 0;
	text-align: center;
	font-size: 1em;
	color: #666;
}

.pagenation a:link,
.pagenation a:visited{
	color: #EA2A69;
	padding: 0 3px;
	margin: 0 2px;
}
.pagenation a:hover{
	color: #fff;
	background: #EA2A69;
}

.actions{
	text-align:left;
}
.actions ul li{
	display: inline;
	padding: 0;
	margin: 0;
}
.actions ul li.home{
	display: inline;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}
.actions img,
.back img{
	background-color: #EA2A69;
	vertical-align: baseline;
}
.actions a img,
.back a img{
	background-color: #999;
	vertical-align: baseline;
}
.actions a:hover img,
.back a:hover img{
	background-color: #EA2A69;
}

#tool{
	padding: 5px 20px;
	background: #eee;
}


/* @end */

/* @group message */

#warning{
	color: #0090ff;
	margin: 10px 20px;
	padding: 5px 20px;
	border-top: 1px solid #0090ff;
	border-bottom: 1px solid #0090ff;
	background: #d1e4fa;
}
#notice{
	color: #0090ff;
	margin: 10px 20px;
	padding: 5px 20px;
	border-top: 1px solid #0090ff;
	border-bottom: 1px solid #0090ff;
	background: #d1e4fa;
}



/* @end */



