<div id="main">
	<h2>Welcome to tasty.map.</h2>
	<div id="overview" style="padding: 30px; border:3px solid #eee; margin:30px;">
		<p>tasty.map.は内輪で作るレストランガイドです。いったことがある店や気になるお店を登録して、いつか役に立てましょう。</p>
		<p>まずは登録して、お店を追加しましょう。</p>
	</div>
	<p><%= link_to "アカウントをつくる", :controller => 'user', :action => 'signup'%></p>
</div>