<div class="field">
	<label for="user_password">パスワード</label><br />
	<%= password_field 'user', 'password'  %>
</div>
<div class="field">
	<label for="user_password_confirmation">パスワード(確認)</label><br />
	<%= password_field 'user', 'password_confirmation'  %>
</div>
<%- if @submit -%>
  <div class="submit"><%= submit_tag 'パスワードを変更' %></div>
<%- end -%>