<div id="main">
	<%= form_tag :action => 'change_password' %>
	<h2>パスワードの変更</h2>
  <%= error_messages_for 'user' %>
		<%= render_partial 'password', :user => @user, :submit => false %>
		<div class="submit">
			<%= submit_tag 'パスワードを変更' %>
		</div>
	<%= end_form_tag %>
</div>
