<div id="profile">
	<h2>プロファイル</h2>
	<div class="section">
		<h3><%= link_to "ユーザ情報の変更", :action => 'edit' %></h3>
	</div>
	<div class="section">
		<h3><%= link_to "パスワードの変更", :action => 'change_password' %></h3>
	</div>
	<div class="section">
		<h3><%= link_to "アカウントの削除", :action => 'delete' %></h3>
	</div>
</div>
<div class="clear"></div>
